@charset "UTF-8";

body{
  background-color:#171717;
  color:#fff;
  font-family: YakuHanRPs, 'Montserrat', 'M PLUS 1p', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo, sans-serif;
  font-size: 13.5px;
  line-height: 1.35;
  font-weight: 400;
  letter-spacing: normal;
}

/* ーーーーー全体ーーーーー */

ul{
  list-style: none;
}

/* ーーーーーheaderーーーーー */

.header-nav{
  display: flex;
  width: 100%;
  height: 90px;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #171717;
  justify-content: flex-end;
}

.header-top-logo{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 90px;
}

.header-nav-ul{
  display: flex;
  align-items: center;
  margin-left: 160px;
  height: 90px;
  width: auto;
}

.header-nav-item{
  display: flex;
  align-items: center;
  list-style: none;
}

.header-nav-item li{
  margin-right: 24px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1px;
}

.header-li-place{
  cursor: pointer;
  border-bottom: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 6px;
  margin-bottom: 2px;
}

.header-nav-li:hover{
  cursor: pointer;
  border-bottom: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 6px;
  margin-bottom: 2px;
}

.header-sns{
  display: flex;
  align-items: center;
  margin-left: 37px;
}

.header-sns-logo{
  margin-right: 24px;
}

.header-sns img{
  width: 19px;
  height: auto;
}

/* ーーーーーmainーーーーー */

main{
  width: 100%;
}

.top-img{
 width: 100%;
 margin-top: 90px;
}

.flyer-wrap{
  width: 100%;
  background-color: transparent;
}

.flyer-flex{
  display: flex;
  padding: 0;
}

.flyer-flex img{
  width: 223px;
  height: 275px;
  margin: 0 10px;
  border: 0.1px solid #696969;
}

/* ーーーーーinformationーーーーー */

.information{
  position: relative;
  margin: 139px auto 0;
  padding: 60px 0;
  width: calc(100% - 400px);
}

.infomation-title{
  font-size: 47.5px;
  font-weight: normal;
  position: absolute;
  top: 200px;
  left: -280px;
  transform: rotate(270deg);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.border-top{
  border-top: 1px solid #5d5d5d;
}

.border-bottom{
  border-bottom: 1px solid #5d5d5d;
}

.info-list-a{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.info-list-head{
  display: flex;
  align-items: center;
  width: 32%;
}

.info-list-date{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.info-list-date-wrap{
  font-size: 13.5px;
  line-height: 1.2;
  width: 45px;
  font-family: 'Montserrat', sans-serif;
}

.info-list-date-date{
  font-size: 39px;
  font-family: 'Montserrat', sans-serif;
}

.info-list-category{
  margin-left: 28.5%;
  font-family: 'Montserrat', sans-serif;
}

.info-list-title{
  font-size: 13.5px;
  line-height: 2.1;
  width: 59.1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.info-view{
  font-size: 13.25px;
  margin-top: 47px;
  padding: 3px 29px 0 0;
  text-align: right;
  letter-spacing: 0.08em;
  font-family: 'Montserrat', sans-serif;
}

/* ーーーーーliveーーーーー */

.live{
  position: relative;
}

.live-list-main{
  margin: 80px auto 0;
  width: calc(100% - 400px);
  height: auto;
}

.live-slide-more{
  display: flex;
}

.live-title{
  font-size: 47.5px;
  font-weight: normal;
  position: absolute;
  top: 60px;
  left: 50px;
  transform: rotate(-90deg);
  font-family: 'Montserrat', sans-serif;
}

.live-list-slide{
  background-color: #333;
  width: 310px;
  height: auto;
  margin-right: 20px;
}

.live-list-title{
  font-size: clamp(20px, 2.071vw, 29px);
  height: 358px;
  padding: 6% 11.5%;
  line-height: 1.55;
  font-family: 'Montserrat', sans-serif;
}

.live-view-position{
  position: relative;
  margin: 0 auto;
  width: calc(100% - 400px);
}

.live-view{
  position: absolute;
  top: 0;
  margin-top: 47px;
  font-size: 13.25px;
  font-family: 'Montserrat', sans-serif;
}

.live-view-action{
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin-top: 37px;
  font-size: 13.25px;
  font-family: 'Montserrat', sans-serif;
}

/* ーーーーーMusicVideoーーーーー */


/* ーーーーー1080ーーーーー */

@media(max-width:1080px){

  .header-nav-item li{
    font-size: 12px;
    margin-right: 15px;
  }

  .header-sns{
    margin-left: 25px;
  }

  .header-sns img{
    width: 15px;
  }

  .header-sns-logo{
    margin-right: 15px;
  }

}

/* ーーーーー900ーーーーー */

@media(max-width:900px){

  .top-img{
    overflow: hidden;
    width: 100%;
    max-width: 100%;
   }

   .information{
    margin: 0 auto;
    padding: 40px 0 49px;
    width: 76%;
    max-width: 570px;
  }

   .infomation-title{
    display: none;
  }

   .infomation-title-sp{
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 49px;
    font-family: 'Montserrat', sans-serif;
  }

  .live{
    margin: 0 auto;
    padding: 40px 0 49px;
    width: 76%;
    max-width: 570px;
  }

  .live-list-main{
    margin: 0 auto;
    width: 100%;
  }

  .live-title{
    display: none;
  }  

  .live-title-sp{
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 49px;
    font-family: 'Montserrat', sans-serif;
  } 

  .info-list-head{
    width: 100%;
  }

  .info-list-title{
    width: 100%;
  }

  .info-list-a{
    flex-wrap: wrap;
  }


}

/* ーーーーーーーーーー */

@media(min-width:900px){

.infomation-title-sp{
  display: none;
}

.live-title-sp{
  display: none;
}

}